.collapse {
  padding: 5rem 15rem;
}

@media (max-width: 1024px) {
  .collapse {
    padding: 0 10rem;
  }
}

@media (max-width: 768px) {
  .collapse {
    padding: 0 5rem;
  }
}

@media (max-width: 480px) {
  .collapse {
    padding: 2rem 1rem;
  }
}
