.subheading {
  background-color: #e3a781;
  width: 100%;
  height: 61px;
  text-align: center;
  color: #164e4e;
  vertical-align: middle;
  line-height: 60px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .subheading {
    font-size: 13px;
    text-align: center;
    line-height: 22px;
  }
}
